body{
	 
	background-image: url("fomdo.png");
	background-size: 1800px;
	background-repeat: no-repeat;
	}
h1{
	text-align: center;
	font-family: Bebas Neue;
}
img:hover{
	border-radius: 80px;
}
